<!doctype html>
    <html>
        <head>
            <title>game on
            </title>
        </head>
        <body>
            <form action="/madlib">
                enter persons name: <input type="text" name="person"><br>
                choose color:
                <select name="color">
                    <option value="electric blue">electric blue</option>
                    <option value="hott pink">hott pink</option>
                    <option value="green">green</option>
                    <option value="magenta">magenta</option>
                </select>
                <br>input noun: <input type="text" name="noun"><br>
                input adjective: <input type="text" name="adjective">
                <br>
                <input type="submit">


            </form>
        </body>

    </html>
